html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorContainer {
    padding: .75em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    height: 60vh;
    aspect-ratio: 4 / 6;
}

#mainDisplay {
    box-shadow: 0px 0px 5px 0px inset;
    grid-area: 1 / 1 / 2 / 5; /* row-start / col-start / row-end / col-end */
    width: 100%;
    border-radius: 10px;
    font-size: 2rem;
    text-align: right;
    overflow-wrap: break-word;
    white-space: normal;
}

#numbersContainer {
    box-shadow: 0px 0px 2px 0px;
    grid-area: 2 / 1 / 6 / 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border-radius: 7.5px;
}

#operatorContainer {
    box-shadow: 0px 0px 2px 0px;
    grid-area: 2 / 4 / 6 / 5;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    border-radius: 7.5px;
}

#clearContainer {
    box-shadow: 0px 0px 2px 0px;
    grid-area: 6 / 1 / 7 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#equalsContainer {
    box-shadow: 0px 0px 2px 0px;
    grid-area: 6 / 4 / 7 / 5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

button {
    background-color: rgba(23, 63, 179, 0.25);

}

button:hover {
    transform: scale(1.05);
    transition-duration: 150ms;
    font-size: 2em;
}

#divideButton {
    border-radius: 7.5px 7.5px 0px 0px;
}

#plusButton {
    border-radius: 0px 0px 7.5px 7.5px;
}

#seven {
    border-radius: 7.5px 0 0 0;
}

#nine {
    border-radius: 0px 7.5px 0 0;
}

#backspaceButton {
    border-radius: 0px 0px 7.5px 0px;
}

#decimalButton {
    border-radius: 0px 0px 0px 7.5px;
}

.number-button, .decimal-button, .backspace-button {
    border: none;
    box-shadow: 0px 0px 2px 0px inset;
}

.operator-button {
    box-shadow: 0px 0px 2px 0px inset;
    border: none;
}

.clear-button {
    box-shadow: 0px 0px 2px 0px inset;
    background-color: hsla(352, 100%, 52%, 1.0);
    border: none;
}

.equal-button {
    box-shadow: 0px 0px 2px 0px inset;
    border: none;  
}

.equal-button:hover {
    transform: scale(1.05);
    transition-duration: 150ms;
    font-size: 2em;
}