html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    height: 100vh;
    
}

* {
    margin: 0;
    padding: 0;
}

.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorContainer {
    padding: .75em;
    border-radius: 10px;
    /* background-color:  */
    box-shadow: 0px 0px 10px 0px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5em;
    height: 70vh;
    aspect-ratio: 4 / 6;



}

#mainDisplay {
    /* background-color: #F2690D; */
    box-shadow: 0px 0px 5px 0px inset;
    grid-area: 1 / 1 / 2 / 5; /* row-start / col-start / row-end / col-end */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-size: 2.5rem;
    justify-items: end;
    align-items: end;
    border-radius: 10px;
}

#numbersContainer {
    /* background-color: hsla(24, 90%, 50%, .5); */
    box-shadow: 0px 0px 2px 0px;
    /* padding: 10px; */
    grid-area: 2 / 1 / 6 / 4;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 1em; */
    border-radius: 7.5px;
}

#operatorContainer {
    /* background-color: #F2690D; */
    box-shadow: 0px 0px 2px 0px;
    /* padding: 10px; */
    grid-area: 2 / 4 / 6 / 5;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    /* grid-row-gap: 1em; */
    border-radius: 7.5px;
}

#clearContainer {
    /* background-color: #F2690D; */
    box-shadow: 0px 0px 2px 0px;
    grid-area: 6 / 1 / 7 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /* padding: 10px; */
    /* border-radius: 10px; */
}

#equalsContainer {
    /* background-color: #F2690D; */
    box-shadow: 0px 0px 2px 0px;
    grid-area: 6 / 4 / 7 / 5;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    /* padding: 10px; */
    /* border-radius: 10px; */
}


button {
    /* background-color: transparent; */
    background-color: rgba(23, 63, 179, 0.25);

}

button:hover {
    transform: scale(1.05);
    transition-duration: 150ms;
    font-size: 2em;
}

#divideButton {
    border-radius: 7.5px 7.5px 0px 0px;
}

#plusButton {
    border-radius: 0px 0px 7.5px 7.5px;
}

#seven {
    border-radius: 7.5px 0 0 0;
}

#nine {
    border-radius: 0px 7.5px 0 0;
}

#backspaceButton {
    border-radius: 0px 0px 7.5px 0px;
}

#decimalButton {
    border-radius: 0px 0px 0px 7.5px;
}



.number-button, .decimal-button, .backspace-button {
    /* border-radius: 50%; */
    border: none;
    box-shadow: 0px 0px 2px 0px inset;


}

.operator-button {
    /* border-radius: 50%; */
    box-shadow: 0px 0px 2px 0px inset;
    border: none;


}

.clear-button {
    /* border-radius: 5px; */
    box-shadow: 0px 0px 2px 0px inset;
    background-color: hsla(352, 100%, 52%, 1.0);
    border: none;

}

.equal-button {
    box-shadow: 0px 0px 2px 0px inset;
    border: none;
    
}

.equal-button:hover {
    transform: scale(1.05);
    transition-duration: 150ms;
    font-size: 2em;
}