html {
    box-sizing: border-box;
    height: 100vh;
}

body {
    height: 100vh;
    
}

* {
    margin: 0;
    padding: 0;
}

.page-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculatorContainer {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(7, 100px);
    grid-template-columns: repeat(4, 100px);
    grid-gap: 1em;



}

#mainDisplay {
    border: 1px solid blue;
    background-color: lightblue;
    grid-area: 1 / 1 / 3 / 5; /* row-start / col-start / row-end / col-end */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    font-size: 2.5rem;
    justify-items: end;
    align-items: end;
    border-radius: 10px;
}

#numbersContainer {
    border: 1px solid green;
    padding: 10px;
    grid-area: 3 / 1 / 7 / 4;
    background-color: lightgreen;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    border-radius: 10px;
}

#operatorContainer {
    border: 1px solid yellow;
    padding: 10px;
    grid-area: 3 / 4 / 8 / 5;
    background-color: lightyellow;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    border-radius: 10px;
}

#clearContainer {
    border: 1px solid orange;
    grid-area: 7 / 1 / 8 / 4;
    background-color: lightcoral;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 10px;
}


.number-button, .decimal-button, .backspace-button {
    border-radius: 50%;
    border: 1px solid black;
}

.operator-button, .equal-button {
    border-radius: 15px;
    border: 1px solid black;
}

.clear-button {
    border-radius: 5px;
    border: 1px solid black;
}